*.DS_Store

*.class
.Rhistory


# Package Files #
*.jar
*.war
*.ear
target/

# Temp output files
output/*.csv
output/*.pdf
output/*.png
output/*.ttl
output/*.tif
output/*.tiff
output/*.eps

.RData
Rplots.pdf

